@import '../../styles/base/_settings.scss';

.container {
  height: 100%;
  margin: $spacing-m $spacing-m;
  margin: $spacing-m $spacing-m;
  position: relative;
  overflow: scroll;
  background-color: blue;
  border-radius: 10px;
}

.videosContainer {
  // height: 90%;
  // // margin: $spacing-m $spacing-m;
  // // margin: $spacing-m $spacing-m;
  // // position: relative;
  // overflow-y: scroll;
  // // background-color: blue;
  // // border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding-bottom: 10rem;
}

.videoCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.movieCardImg {
  width: 100%;
  height: auto;
}