$pageBackground: #f7f8fc;
$primaryBackground: #ffffff;
$primaryBorder: #dfe0eb;
$primaryText: #131415;
$textInputBg: #f1f1f2;
$textInputText: #a0a0a0;
$popUpPrimaryButtonBg: #131415;
$popUpPrimaryButtonText: #ffffff;
$popUpSecondaryButtonText: #aaabb6;
$inactiveTabTextColor: #898989;
$activeTabTextColor: #131415;
$primaryScreenButtonText: #585858;
$tableRowText: #252733;
$tableRowTextLight: #a4a5aa;
$popUpNumberPositiveBg: #baeeea;
$popUpNumberPositiveText: #0acbbb;
$primaryButtonText: #02cbbc;
$primaryBorderColor: #fd13b7;
$secondaryText: #25282b;
$primaryButtonBg: #d9f7f5;
$secondaryButtonBg: #fcddda;
$tertiaryButtonBg: #d9fffc;
$primaryHighlightColor: #963bf9;
$secondaryHighlightColor: #f06bc8;
$tertiaryHighlightColor: #f3756a;
$quaternaryHighlightColor: #0acbbb;
$primaryTagBg: #ebebeb;
$quaternaryButtonBg: #f1f6f6;
$negativeButtonBg: #dedede;
$secondaryBackground: #f1f2f5;
$filteredTagColor: #963bf9d6;
$secondaryTagBg: #FFCA9A;
$secondaryTagText: #EE8C34;
$primaryLabelText: #fc13b7;
$primaryLabelBg: #ffecf9;
$primaryPopupBg: #f6fcfb;
$secondaryBorderColor: #dbf2ef;
$otherButtonBg: #c1c1c1;
